.container{
    margin-top: 30px;
}

#addParaBtn {
    margin-right: 20px;
}
#exampleInputEmail1, #exampleInputPassword1 {
    width: 40%;
}

#loginForm {
    /* border-radius: 25%;
    border-style: solid; */
}

#submitBtn {
    margin-top: 20px;
}